<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" type="image/png" href="/img/logobv.png" />
    <title>Bệnh Viện Đại học Y học Phạm Ngọc Thạch</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" type="text/css" href="./css/login.css">
</head>

<body>
    <div class="container-fluid bg">
        <div class="row justify-content-center">
            <div class="col-md-3 col-sm-6 col-xs-12 row-container">
                <form action="" method="Post" class="form-signin">
                    <div class="account-logo">
                        <a href="http://localhost:3000"><img src="/img/logobv.png" alt=""></a>
                    </div>
                    <h4 align="center"><b>ĐĂNG KÝ</b></h4>
                    <div class="form-group">
                        <label>Tên đăng nhập</label>
                        <input type="text" class="form-control" name="username" required>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" name="email" required>
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu</label>
                        <input type="password" class="form-control" name="password" required>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-primary account-btn" type="submit">Signup</button>
                    </div>
                    <div class="text-center login-link">
                        Bạn đã có tài khoản? <a href="http://localhost:3000/login">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>